<% if member_signed_in? %>

<h1> List of most played songs</h1>

<h4>Sort according to date</h4>
<div class="form-control">
<%= form_tag("/timetable/sort", method: "post") do %>
<%= select_tag(:sort_id, options_for_select([['1 hour', 1], ['6 hours', 2], ['1 day', 3],['1 month',4],['1 year',5]]) ) %>
<%= submit_tag("Sort") %>
<% end %>
</div>
<hr>

<table class="table table-hover">
		<tr><td><b>Song name</b></td>
	<td><b>Favourite</b></td>
	<td><b>Number of times played</b></td>
	</tr>
	<tr>
		<td>
			<table class="table table-hover">
				<% @tests1.each do |a| %>
				<tr><td class="success"> <%= a.song.songname %></td></tr>
				<% end %>

			</table>
		</td>
		<td>
			<table class="table table-hover">
				<tr>
				<% @tests1.each do |a| %>
				<% if @hash[a.song_id] == true %>
				<td class="warning"><%= image_tag("a.jpg", height: 20, weight: 20)%>
					<% else %>
					<td class="warning"><%= image_tag("b.png", height: 20, weight: 20) %>
						<% end %>
					</tr>
				<% end %>
			</table>
		</td>
		<td>
			<table class="table table-hover">
				<% @tests.each do |key, value| %>
				<tr><td class="danger"> <%= value %></td></tr>
				<% end %>
			</table>
		</td>
		
	</tr>

	</table>
<% else %>
<h2><em>Please login or signup</em></h2>
<% end %>
