<% if member_signed_in? %>

<h1> List of songs played</h1>
<table class="table table-hover">
	<tr><td><b>Song name</b></td>
	<td><b>Album</b></td>
	<td><b>Artist</b></td>
	<td><b>Favorite</b></td>
	<td><b>Played at  </b></td>
	</tr>
	
<% @lists.each do |a| %>
<tr>
<td class="success"><%= a.song.songname %></td>
<td class="warning"><%= a.song.album %></td>
<td class="danger"><%= a.song.artist %></td>

				<% if a.fav == true %>
				<td class="warning"><%= image_tag("a.jpg", height: 20, weight: 20)%>
					<% else %>
					<td class="warning"><%= image_tag("b.png", height: 20, weight: 20) %>
						<% end %>
					
				
<td class="info"><%= a.created_at %></td>

</tr>
<% end %>

</table>
<% else %>
<h2><em>Please login or signup</em></h2>
<% end %>
